<nav>
    <div>
        <a href="/"><h1>Employee Management System API</h1></a>
        <p>Aditya Bilgundi Site</p>
    </div>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/emp">All Employees</a></li>
        <li><a href="/about">About Page</a></li>
        <li><a href="/emp/create">New Employee</a></li>
        <li><a href="/graphql">GraphiQL</a></li>
        <!-- you can add multiple links on all pages like this -->
    </ul>
</nav>