<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%> 
<body>
    
    <%- include('./partials/nav.ejs')%> 

    <div>
        <form action="/emp" method="post">
            <label for="Name">Name</label>
            <input type="text" id = "Name" name = "Name" required>
            <label for="EmployeeNo">Employee Number</label>
            <input type="number" id = "EmployeeNo" name = "EmployeeNo" required>
            <label for="email">Employee Email</label>
            <input type="text" id = "email" name = "email" required>
            <label for="HolidaysUsed">Holidays Used</label>
            <input type="text" id = "HolidaysUsed" name = "HolidaysUsed" required>
            <button>Submit</button>
        </form>
    </div>
    
    <%- include('./partials/footer.ejs')%>
</body>
</html>